*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.header{
    width: 100%;
    height: 40%;
    display: block;
    background-color: #b9d74d;
}

.inner_header{
    width: 35%;
    height: 100%;
    display: block;
    margin: 0 auto;
   
}
.logo_container{
    height: 15%;
    display: table;
    float: middle;
}
.logo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
